* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-direction: row;
}

html {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

section {
    min-height: 99vh;
    scroll-snap-align: start;
    border-bottom: 2px dotted #f2f2f2;
    flex-direction: column;
}

:root {
  --secondary-color: #151226;
  --contrast-color: #590404;
}

@font-face {
  font-family: lato;
  src: url("https://use.typekit.net/bdv5kew.css") format(css);
  font-style: normal;
  font-display: swap;
}

cite {
  color: #919191;
  font-family: Arial, Helvetica, sans-serif !important;
  text-decoration: none;
  font-size: small;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: -10;
  background-color: var(--contrast-color);
}

.flexArrows {
  display: flex;
  min-width: -webkit-fill-available;
  max-height: 1vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 25%;
}

.flexArrows p {
  padding-bottom: 2%;
}

.clickMeText {
  color: #000000;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: #3f0202;
  text-shadow: 0 0 10px #f2f2f2, 0 0 20px #f2f2f2, 0 0 30px #f2f2f2, 0 0 40px #f2f2f2, 0 0 50px #f2f2f2, 0 0 60px #f2f2f2, 0 0 70px #f2f2f2;
  font-size: larger;
}

.container {
    min-width: -webkit-fill-available;
    max-width: -webkit-fill-available;
    min-height: 86vh;
    align-items: center;
    color: #fff;
    background-color: #0d0d0d;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    opacity: 1;
    outline: 2px solid;
    transform: scale(0.8);
    display: flex;
    opacity: 1;
    padding: 1% 0;
}

@media screen and (max-width: 1220px) {
  .container {
    font-size: small;
  }
  
}

@media screen and (max-width: 870px) {
  .container {
    transform: scale(0.9);
    font-size: small;
  }
  
}

@media screen and (max-width: 765px) {
  .container {
    transform: scale(0.8);
    font-size: small;
    min-width: 110vw;
  }
  
}

@media screen and (max-width: 655px) {
  .container {
    transform: scale(0.7);
    min-width: 130vw;
  }
  
}

@media screen and (max-width: 555px) {
  .container {
    transform: scale(0.6);
  }
  
}

/* This is for the scrolldown effect */

/* @keyframes expand {
  0% {
    transform: translateX(0) scale(0.1);
  }

  100% {
    transform: translateX(0) scale(0.99);
  }
} */

/* .container.visible {
  opacity: 1;
  animation: expand 1.6s ease-in;
}
 */

.flexF1container {
  display: flex;
  justify-content: center;
}

.containerSection {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: -webkit-fill-available;
}

/* .lastContainerSection {
  padding-top: 0;
} */

.container_content {
  width: 50%;
  display: contents;
}

.container_content_inner {
  max-width: 50%;
  margin-left: 80px;
}

.container_outer_img {
  margin: 0 1%;
  overflow: hidden;
  width: auto;
  min-width: fit-content;
  padding: 0 2%;
}

.container_img {
  max-width: 80%;
  animation: slideIn 1s ease-in-out forwards;
}

.par {
  min-height: 30vh;
  max-width: 35vw;
  overflow: hidden;
}

p {
  line-height: 28px;
  animation: slideUp 0.8s ease-in-out forwards 0.8s;
}

.btns {
  height: 100%;
  position: relative;
  width: 150px;
  overflow: hidden;
}

.btns_more {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: var(--contrast-color);
  border-radius: 50px;
  border: none;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin: 10%;
}

.btns_more:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.1;
  transform: scale(0);
  transform-origin: top left;
  transition: transform 0.5s ease-in-out;
}

.btns_more:hover:before {
  transform: scale(1);
}

.btns_more:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.1;
  transform: scale(0);
  transform-origin: top right;
  transition: transform 0.5s ease-in-out;
}

.btns_more:hover:after {
  transform: scale(1);
}

.btns_more:active {
  background: transparent;
  border: 1px solid var(--contrast-color);
  border-radius: 50px;
  padding: 10px 20px;
  color: #590404;
  font-size: 18px;
  text-transform: uppercase;
  position: relative;
  outline: none;
  display: inline-block;
  box-shadow: none;
}

.title {
  overflow: hidden;
  height: auto;
}

h2 {
  margin-bottom: 10%;
  font-size: 40px;
  color: white;
  -webkit-text-stroke-width: 0.1px;
  font-family: lato;
  text-shadow: -2px -2px 0 #590404, -2px -2px 0 #590404;
  padding-top: 5%;
}

.arrows {
  min-width: 62px;
  max-width: 62px;
  min-height: 72px;
  transition: 0.5s ease-in-out;
  margin: 0 auto;
}

.arrows:hover {
  cursor: pointer;
}

.arrows path {
  stroke: #f2f2f2;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari Ã¥â€™Å’ Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari Ã¥â€™Å’ Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari Ã¥â€™Å’ Chrome */
}

.arrowsSmall {
  min-width: 62px;
  max-width: 62px;
  min-height: 72px;
  max-height: 72px;
  margin: 0 4%;
  transform: scale(0.8);
}

.arrowsSmall:hover {
cursor: pointer;
}

.arrowsSmall path {
  stroke: #f2f2f2;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

.arrowsSmall path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari and Chrome */
}

.arrowsSmall path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari and Chrome */
}

.arrowsSmall path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari and Chrome */
}

.sideArrows {
  min-width: 62px;
  max-width: 77px;
  min-height: 72px;
  transition: 0.5s ease-in-out;
  margin: 48% 3% auto;
}

.sideArrows:hover {
  cursor: pointer;
  }
  
  .sideArrows path {
    stroke: #f2f2f2;
    fill: transparent;
    stroke-width: 1px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
  }
  
  .sideArrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s; /* Safari and Chrome */
  }
  
  .sideArrows path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s; /* Safari and Chrome */
  }
  
  .sideArrows path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s; /* Safari and Chrome */
  }

.flexTitle {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-width: min-content;
}

/*Projectvideo hover */

#video:hover {
  cursor: pointer;
}

/* ---*/

.flexFlexImgAndSrcWithArrows {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}

 .flexImgAndSrc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.smallWebLink {
  margin: 0 3em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif !important;
  text-align: center;
  min-width: fit-content;
}

.smallWebLink img:hover{
  border: 3px solid blue;
  cursor: pointer;
  border-radius: 50%;
  padding: 7%;
}

[alt="smallPdf_Logo"] {
  max-width: 4vw;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  max-height: 15vh;
  margin: auto;
}

.miniSrcLinksArea {
  margin-top: auto;
  min-width: -webkit-fill-available;
  transform: scale(0.7);
}

.miniSrcLinks {
  display: flex;
  align-items: center;
  max-width: fit-content;
  min-width: fit-content;
  max-height: fit-content;
  margin: 0 auto;
  justify-content: space-evenly;
  padding: 3% 2em;
}

.srcText {
  color: white;
  -webkit-text-stroke-width: 0.1px;
  font-family: lato;
  max-width: fit-content;
  font-size: large;
  padding: 0;
  margin-bottom: revert;
}

/* @media screen and (min-width: 690px) and (max-width: 870px) {
 
} */