ol {
  max-width: fit-content;
}

h1 {
  padding: 1% 2% 3%;
}

h3 {
  padding-top: 10%;
  margin: 0 auto;
}

video {
  outline: 2px solid white;
}

img {
  max-width: 20vw;
  overflow: hidden;
  transition: transform 0.3s;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  max-width: 62vw;
}

blockquote {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 35vw;
}

.alignText {
  max-width: fit-content;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.QandA {
  font-size: medium;
}

.middleText {
  padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 57vw;
    margin: auto;
}

.subtitle {
  text-align: center;
  height: fit-content;
  width: fit-content;
  margin: 0 auto;
  padding-top: 5%;
  padding-bottom: 3%;
  color: #f2f2f2;
  font-family: "lato", Arial, Helvetica, sans-serif;
  font-size: xx-large;
  font-weight: 400;
}

cite, cite span {
  color: #919191;
  font-family: Arial, Helvetica, sans-serif !important;
  text-decoration: none;
  font-size: medium;
}

cite a{
  font-style: italic;
  color: #919191;
  font-family: Arial, Helvetica, sans-serif !important;
  text-decoration: none;
  font-size: medium;
}

cite a:hover {
  color: var(--portfolioGrey);
}

img:hover,
img:focus {
  transform: scale(1.5);
}

.textSpace {
  background-color: black;
  border: 2px solid #595959;
  margin: auto auto 10%;
  min-width: 87vw;
  max-width: 95vw;
  padding: 0 5% 2% 5%;
  color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif !important;
}

.textSpace ol li {
  padding: 1%;
  font-family: Arial, Helvetica, sans-serif;
}

.textSpace ol li span {
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}

.sideText {
  max-width: 50vw !important;
  padding: 0 5%;
  margin: 0;
}

.flexImages {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  max-width: fit-content;
  max-height: fit-content;
}

.imageDiv {
  display: flex;
  flex-direction: column;
  min-width: 31vw;
  max-width: 50vw;
  align-items: center;
  margin: 10% 0;
}

.imageUndertitle {
  font-style: italic;
  font-size: medium;
  max-width: fit-content;
}

.textSpaceSources {
  display: flex;
  flex-direction: column;
  background-color: black;
  border: 2px solid #595959;
  margin: auto;
  min-width: 90vw;
  max-width: 95vw;
  min-height: 40vh;
  align-items: center;
  justify-content: center;
}

a span {
  font-family: Arial, Helvetica, sans-serif !important;
  display: block;
  min-width: max-content;
  color: #f2f2f2;
}

[alt="pdf_Logo.png"], [alt="Double Life Challenge.zip"] {
  max-width: 11vw;
  display: flex;
  flex-direction: column;
  max-height: 15vh;
  margin: auto;
}

.srcLinks {
  display: flex;
  min-width: inherit;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding-top: 1%;
  flex-wrap: wrap;
}

.alignTextandImg {
  display: flex;
  padding: 5% 0 5%;
  align-items: center
}

.whiteLineDiv {
  min-width: -webkit-fill-available;
  margin: 5% 0;
}

.webLink {
  margin: 1em 3em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-width: 32vw;
}