body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.learningOutcomesDiv {
  display: flex;
  flex-wrap: wrap;
  max-width: 62vw;
  min-width: 62vw;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 2%;
  margin: auto;
}

.learningOutcome {
  min-width: 18vw;
  max-width: 20vw;
  min-height: 30vh;
  padding: 1%;
  margin: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 25px 0;
  background-color: #000000;
  outline: 2px solid #595959;
  text-align: center;
}

.learningOutcome:hover {
  outline: 2px solid #f2f2f2;
  cursor: pointer;
}

.learningOutcome span {
  color: #f2f2f2;
}

[alt="Interactive_Media_Icon"],
[alt="Development_Icon"],
[alt="Design_Icon"],
[alt="Research_Icon"],
[alt="Communication_Icon"],
[alt="Professional_Identity_Icon"] {
  max-width: 8vw;
}

.copyrightText {
  padding-top: 2%;
}

@media screen and (max-width: 1279px) {
  .learningOutcomesDiv {
    max-width: 80vw;
    min-width: 80vw;
  }

  .learningOutcome {
    min-width: 30vw;
    max-width: 30vw;
    margin: 5%;
  }

  [alt="Interactive_Media_Icon"],
  [alt="Development_Icon"],
  [alt="Design_Icon"],
  [alt="Research_Icon"],
  [alt="Communication_Icon"],
  [alt="Professional_Identity_Icon"] {
    max-width: 13vw;
  }
}